@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 18px;
  --default-bg: #1d1f21;
  --default-color: #e1e8e3;
  --border-color: #c5c8c6;
}

body {
  background-color: var(--default-bg);
  font-size: var(--font-size);
  color: var(--default-color);
}

.border-outset {
  border-style: outset;
}

.border-inset {
  border-style: inset;
}

.border-taskbar {
  border-style: outset none none none;
}

.active-border-button:active,
.active-border-button[data-state="open"] {
  border-style: inset;
  border-color: white;
}

a {
  cursor: pointer;
}
